# Exclude everything by default
*

# Include only the necessary files and directories
!esm2022/**
!esm2022/**/*
!fesm2022/**
!lib/**
!lib/**/*
!src/lib/**
!src/lib/**/*
!index.d.ts
!public_api.d.ts
!package.json
!README.md
!LICENSE
